@import url(http://fonts.googleapis.com/css?family=Source%20Sans%20Pro:300,400,500,600,700);
p {
    font-size: 14px;
    line-height: 22.4px;
    color: #6c7279;
}

h1 {
    font-size: 65px;
    color: #2d3033;
}

/* Global Styles */

body {
    font-family: "Source Sans Pro";
    font-weight: 400;
    color: #6c7279;
}

.banner {
   
    background-position: center top;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 750px;
}

.googleMap{
    position: relative;
    overflow: hidden;
    top: 90;
    right:30;
    width: 95%;
    height:560px;
    border: 0;
    box-shadow: 0 1px 38px rgba(3, 29, 63, 0.486), 0 5px 12px rgba(44, 63, 173, 0.25);
}

/* Intro */

.intro {
    background-color: #289248;
    position: relative;

}

.intro blockquote {
    border: 0;
    margin: 0;
    padding: 100px 15% 0;
    position: relative;
}

.intro h1 {
    color: #000;
    font: 27px "Source Sans Pro";
}

/* Banner */

.banner {
    /* background-image: url(../images/banner.jpg); */
    background-position: center top;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 300px;

}

.banner-text {
    padding-top: 33%;
}

.banner-text h1 {
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 53px;
    letter-spacing: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-text p {
    color: #8d8d8d;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 80px;
    text-transform: uppercase;
}

/* dashboard Here */

.banner .col-md-8 {
    padding-left: 0px;
    padding-right: 5px;
    position: relative;
}

.banner .col-md-4 {
    padding-right: 0px;
    padding-left: 5px;
    position: relative;
}

.banner .left-banner-content {
    padding-top: 10px;
    padding-bottom: 60px;
    padding-left: 40px;
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 680px;
    height: 680px;
    background-color: rgb(35, 48, 48);
}

.left-banner-content h6 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.left-banner-content .line-dec {
    width: 60px;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #774e01;
}

.right-banner-content {
  
    padding-bottom:50px;
    padding-left:10px;
    padding-right:5px;
    background-color: rgb(52, 71, 71);
    text-align: left;
    /* min-height: 680px; */
    /* height: 680px; */
    position: relative;
}

.right-banner-content h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    margin-bottom: 2px;
}

.best-offer {
    margin-top: 10px;
}

.best-offer .col-md-4 {
    padding-left: 0px;
    padding-right: 5px;
}

.best-offer .col-md-8 {
    padding-right: 0px;
    padding-left: 5px;
}

.best-offer-left-content {
    min-height: 550px;
    height: 612px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color:  rgb(52, 71, 71);
}

.best-offer-right-content {
    background-color:  rgb(52, 71, 71);
    padding-top: 30px ;
    padding-left:10px;
    min-height: 550px;
    height: 613px;
    text-align: center;
}

@media (max-width: 991px) {
    .banner .col-md-8 {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .banner .col-md-4 {
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .banner .left-banner-content {
        padding-left: 0px;
        text-align: center;
    }
    .left-banner-content h1 {
        font-size: 64px;
        font-weight: 300;
        color: rgb(9, 104, 56);
        line-height: 80px !important;
    }
    .banner .left-banner-content .line-dec {
        margin: 0 auto;
    }
    .best-offer .col-md-8 {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .best-offer .col-md-4 {
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .best-offer-right-content {
        text-align: center;
    }
    .best-offer-right-content {
        background-color:  rgb(52, 71, 71)d;
        padding: 30px 30px;
        min-height: 550px;
        height: auto;
    }
    .best-offer-right-content .pink-button {
        margin-bottom: 50px;
    }

}

html {
    font-family: sans-serif;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgb(34, 33, 33);
    background-size: 550px 500px;
}

.h1,
h1,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.text-center {
    text-align: center
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-md-1,
.col-md-10,
.col-md-6,
    {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-6,
    .col-md-9 {
        float: left
    }
    .col-md-10 {
        width: 83.33333333%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-1 {
        width: 8.33333333%
    }
    .col-md-offset-1 {
    content: " "
}

.row:after {
    clear: both
}



/* Here */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");


.weather-card {
  margin: 60px auto;
  height: 300px auto;
  width: 450px auto;
  background: #fff;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
}
.weather-card .top {
  position: relative;
  height: 570px;
  width: 100%;
  overflow: hidden;
  background: url("https://www.nationalparks.org/sites/default/files/styles/wide_1x/public/shutterstock_142351951.jpg?itok=y_xdbvtu") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.weather-card .top .wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
}
.weather-card .top .wrapper .mynav {
  height: 20px;
}
.weather-card .top .wrapper .mynav .lnr {
  color: #fff;
  font-size: 20px;
}
.weather-card .top .wrapper .mynav .lnr-chevron-left {
  display: inline-block;
  float: left;
}
.weather-card .top .wrapper .mynav .lnr-cog {
  display: inline-block;
        margin-left: 8.33333333%
    }
}

.row:after,
.row:before {
    display: tab;
    float: right;
}
.weather-card .top .wrapper .heading {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper .location {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper  {
  margin-top: 20px;
}
.weather-card .top .wrapper  {
  text-decoration: none;
  color: #fff;
}
.weather-card .top .wrapper   {
  font-size: 85px;
}
.weather-card .top .wrapper   {
  display: inline-block;
  font-size: 85px;
  font-weight: 600;
  color: #fff;
}
.weather-card .top .wrapper  .deg {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  vertical-align: top;
  margin-top: 10px;
}
.weather-card .top:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.trailname{
color: rgb(255, 217, 0);
padding-top: 6px;
padding-left:.3px;
}

.note-pad{
    height: 499px;
}

.dash-header{
    color:rgb(255, 217, 0);
    font-weight:bolder;
    text-align:left;
}

.parkname{
padding-left:3px;
color: rgb(151, 146, 117);
}

.image-card{
 width:489px;
 height:410px;
 background-color: rgb(31, 31, 30)
 
}

.image-header{
    color:rgb(204, 174, 4);
    font-weight:bolder;
}

.profile-icon{
    height: 30px;
    width: 30px;
}
.welcome{
float: left;
}

  @media (max-width: 991px) {
    .weather-card.top{
        width: 83.33333333%
    }
    .navbar.navbar-success.bg {
        width: 50%
    }
  }

/* Dashboard dailyTemp Card */

.dailyTemp{
    margin: 10px auto;
    width: 100px auto;
    height: 410px auto;
    box-shadow: 0 1px 38px rgba(1, 10, 5, 0.486), 0 5px 12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
  }
  .dailyTemp.top {
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    text-align: center;
  }
  .dailyTemp .top .wrapper {
    padding: 30px;
    position: relative;
    z-index: 1;
    text-align:center;
  }
  
  .dailyTemp .top .wrapper .lnr-cog {
    display: inline-block;
    float: right;
   }
  .dailyTemp .top .wrapper .heading {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 500px;
    color: rgb(255, 253, 253);
  }
  .dailyTemp .top .wrapper .location {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 480px;
    color: rgb(199, 151, 21);
  }
  .dailyTemp .top .wrapper .temp {
    margin-top: 60px;
  }
  
  
  .dailyTemp .top .wrapper .temp-value {
    display: inline-block;
    font-size: 85px;
    font-weight: 600;
    color: white;
  }
  .dailyTemp .top .wrapper .deg {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    color: white;
    vertical-align: top;
    margin-top: 10px;
  }
  
  .dailyTemp .bottom {
    padding: 0 30px;
    background: rgb(105, 105, 75);
  }
  .dailyTemp .bottom .wrapper .forecast {
    overflow: hidden;
    margin: 0;
    font-size: 0;
    padding: 0;
    padding-top: 20px;
    max-height: 155px;
  }
  
  .dailyTemp .bottom .wrapper .forecast .go-up {
    text-align: center;
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .temp-title{
    font-size:130px;
    color: white;
  
  }
  .dailyTemp .bottom .wrapper .forecast li {
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: rgba(185, 182, 182, 0.863);
    line-height: 1em;
    margin-bottom: 30px;
    text-align: left;
  }
  .dailyTemp .bottom .wrapper .forecast li .date {
    display: inline-block;
  }
  .dailyTemp .bottom .wrapper .forecast li .condition {
    display: inline-block;
    vertical-align: middle;
    text-align:left;
    float: right;
    font-size: 25px;
  }
  .dailyTemp .bottom .wrapper .forecast li .condition .temp {
    display: inline-block;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 2px;
    text-align:left;
  }
  .dailyTemp .bottom .wrapper .forecast li .condition .temp .deg {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    margin-left: 3px;
    vertical-align: top;
    text-align: left;
  }
  .dailyTemp .bottom .wrapper .forecast li .condition .temp .temp-type {
    font-size: 20px;
    text-align:left;
  }
  .dailyTemp .bottom .wrapper .forecast li.active {
    color: rgba(56, 56, 56, 0.8);
    text-align:left;
  }
  .dailyTemp .top {
    background: url("https://i.pinimg.com/564x/8e/df/80/8edf806427df507529b7ca0b393af041.jpg") no-repeat; */
    
    background-color:#38ADAE;
    background-size: cover;
    background-position: center center;
  }

  /* .imageCard{
    margin: 60px auto;
    width: 60px auto;
    height: 100px auto;
    overflow: hidden;
    position: relative;
  } */


  /* IMAGE GALLERY */
  .gallery-wrapper {
    width: 1222px;
    height:520px;
    position: relative;
    background-color: rgba(27, 27, 27, 0.897);
    box-shadow: 0 1px 38px rgba(1, 10, 5, 0.486), 0 5px 12px rgba(0, 0, 0, 0.25);
  }
  .gallery-wrapper:after {
    padding-top: 40%;
    display: block;
    content: '';
  }
  .gallery-wrapper .column {
    position: absolute;
    left: 0;
    top: 0;
    width: 14.2857142857142857%;
    float: left;
    padding: 6px;
    box-sizing: border-box;
  }
  .gallery-wrapper .column .inner {
    width: 100%;
    position: relative;
  }
  .gallery-wrapper .column .inner:after {
    padding-top: 100%;
    /* ratio 1:1 */
    display: block;
    content: '';
  }
  .gallery-wrapper .column .inner:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .gallery-wrapper .column .inner:hover:before {
    background-color: rgba(0, 0, 0, 0);
  }
  .gallery-wrapper .column:nth-child(1) {
    width: 28.5714285714285714%;
  }
  .gallery-wrapper .column:nth-child(2) {
    left: 28.5714285714285714%;
  }
  .gallery-wrapper .column:nth-child(3) {
    left: 28.5714285714285714%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .gallery-wrapper .column:nth-child(4) {
    width: 28.5714285714285714%;
    left: 42.85714285714286%;
    top: 0;
  }
  .gallery-wrapper .column:nth-child(4) .inner:after {
    padding-top: 48.7%;
  }
  .gallery-wrapper .column:nth-child(5) {
    left: 71.42857142857143%;
    top: 0;
  }
  .gallery-wrapper .column:nth-child(6) {
    left: auto;
    right: 0;
    top: 0;
  }
  .gallery-wrapper .column:nth-child(7) {
    left: 71.42857142857143%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .gallery-wrapper .column:nth-child(8) {
    left: auto;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .gallery-wrapper .column:nth-child(9) {
    width: 28.5714285714285714%;
    top: auto;
    left: 0;
    bottom: 0;
  }
  .gallery-wrapper .column:nth-child(9) .inner:after {
    padding-top: 48.7%;
  }
  .gallery-wrapper .column:nth-child(10) {
    left: 28.5714285714285714%;
    top: auto;
    bottom: 0;
  }
  .gallery-wrapper .column:nth-child(11) {
    left: 42.85714285714286%;
    top: auto;
    bottom: 0;
    width: 28.5714285714285714%;
  }
  .gallery-wrapper .column:nth-child(12) {
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    width: 28.5714285714285714%;
  }
  .gallery-wrapper .column:nth-child(12) .inner:after {
    padding-top: 48.7%;
  }
  /* BEAUTY */
  .gallery-wrapper .column .inner {
    background-size: cover;
    background-position: center;
  }
  .gallery-wrapper .column:nth-child(1) .inner {
    background-image: url('https://recreation-acm.activefederal.com/assetfactory.aspx?did=7460');
  }
  .gallery-wrapper .column:nth-child(2) .inner {
    background-image: url('https://s3.amazonaws.com/backpackersverse/wp-content/uploads/2015/08/18103540/11.-Half-Dome.jpg');
  }
  .gallery-wrapper .column:nth-child(3) .inner {
    background-image: url('https://static1.squarespace.com/static/52e77ab3e4b0a4877ee01abd/530f82fce4b0340ce527dfba/530f8309e4b0b9ddff1340cd/1393525515702/20120521-yosemite-327.jpg?format=1500w');
  }
  .gallery-wrapper .column:nth-child(4) .inner {
    background-image: url('https://beautifulworld.com/wp-content/uploads/2016/09/upper-yosemite-falls.jpg');
  }
  .gallery-wrapper .column:nth-child(5) .inner {
    background-image: url('https://www.yosemite.com/wp-content/uploads/2016/12/yosemite-winter-james-kaiser-4.jpg');
  }
  .gallerywrapper .column:nth-child(6) .inner {
    background-image: url('https://odis.homeaway.com/odis/destination/3f0a134d-6eb5-4b75-9f6d-a75958bf468d.hw1.jpg');
  }
  .gallery-wrapper .column:nth-child(7) .inner {
    background-image: url('https://pbs.twimg.com/media/DaeaHdOXcAMH30W.jpg');
  }
  .gallery-wrapper .column:nth-child(8) .inner {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREWIDjOV_7fIOD4hnlytHE5kbE6rNa0J-QEiyZpKENz8VYVCel');
  }
  .gallery-wrapper .column:nth-child(9) .inner {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST_S3ogRecWqCLjzq-tn6IlohcXPZMFRHho19_fXuT2YNoeGdt');
  }
  .gallery-wrapper .column:nth-child(10) .inner {
    background-image: url('https://thumbs-prod.si-cdn.com/0Ht0Co8NADFdQXFn-QMeisEAsfw=/1072x500/https://public-media.smithsonianjourneys.org/filer/3f/c5/3fc54b8c-35cf-4de3-9300-56b3f52667f6/usa_ca_yosemite_koustav_maity_full_moonrise_over_the_half_dome_af48eab3-7f56-4b15-8dc8-963cd636192c.jpg');
  }
  .gallery-wrapper .column:nth-child(11) .inner {
    background-image: url('https://images.unsplash.com/photo-1461703048574-9a342517f1bb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e9b9edd9ff5c9f14dcd2e1a48e1f5f65&w=1000&q=80');
  }
  .gallery-wrapper .column:nth-child(12) .inner {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5MbA83qgytfHoChgWZZ0GgpC3J0zYqwtDKZN-6YfRBy_6Vro3');
  }
  .gallery-wrapper .column:nth-child(13) .inner {
    background-image: url('https://www.tenayalodge.com/~/media/tenaya/images/cropped-photos/640-x-414-package-size/yosemite-nevada-fall-liberty-cap-shutterstock_310729439.jpg');
  }

