@import url(http://fonts.googleapis.com/css?family=Source%20Sans%20Pro:300,400,500,600,700);
p {
    font-size: 14px;
    line-height: 22.4px;
    color: #6c7279;
}

h1 {
    font-size: 65px;
    color: #2d3033;
}

/* Global Styles */

body {
    font-family: "Source Sans Pro";
    font-weight: 400;
    color: #6c7279;
}

.banner {
   
    background-position: center top;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 750px;
}

.googleMap{
    position: relative;
    overflow: hidden;
    top: 90;
    right:30;
    width: 95%;
    height:560px;
    border: 0;
    box-shadow: 0 1px 38px rgba(3, 29, 63, 0.486), 0 5px 12px rgba(44, 63, 173, 0.25);
}

/* Intro */

.intro {
    background-color: #289248;
    position: relative;

}

.intro blockquote {
    border: 0;
    margin: 0;
    padding: 100px 15% 0;
    position: relative;
}

.intro h1 {
    color: #000;
    font: 27px "Source Sans Pro";
}

/* Banner */

.banner {
    /* background-image: url(../images/banner.jpg); */
    background-position: center top;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 300px;

}

.banner-text {
    padding-top: 33%;
}

.banner-text h1 {
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 53px;
    letter-spacing: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-text p {
    color: #8d8d8d;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 80px;
    text-transform: uppercase;
}

/* dashboard Here */

.banner .col-md-8 {
    padding-left: 0px;
    padding-right: 5px;
    position: relative;
}

.banner .col-md-4 {
    padding-right: 0px;
    padding-left: 5px;
    position: relative;
}

.banner .left-banner-content {
    padding-top: 10px;
    padding-bottom: 60px;
    padding-left: 40px;
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 680px;
    height: 680px;
    background-color: rgb(35, 48, 48);
}

.left-banner-content h6 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.left-banner-content .line-dec {
    width: 60px;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #774e01;
}

.right-banner-content {
  
    padding-bottom:50px;
    padding-left:10px;
    padding-right:5px;
    background-color: rgb(52, 71, 71);
    text-align: left;
    /* min-height: 680px; */
    /* height: 680px; */
    position: relative;
}

.right-banner-content h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    margin-bottom: 2px;
}

.best-offer {
    margin-top: 10px;
}

.best-offer .col-md-4 {
    padding-left: 0px;
    padding-right: 5px;
}

.best-offer .col-md-8 {
    padding-right: 0px;
    padding-left: 5px;
}

.best-offer-left-content {
    min-height: 550px;
    height: 550px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color:  rgb(52, 71, 71);
}

.best-offer-right-content {
    background-color:  rgb(52, 71, 71);
    padding-top: 30px ;
    padding-right:2px;
    min-height: 550px;
    height: 613px;
    text-align: center;
}

@media (max-width: 991px) {
    .banner .col-md-8 {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .banner .col-md-4 {
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .banner .left-banner-content {
        padding-left: 0px;
        text-align: center;
    }
    .left-banner-content h1 {
        font-size: 64px;
        font-weight: 300;
        color: rgb(9, 104, 56);
        line-height: 80px !important;
    }
    .banner .left-banner-content .line-dec {
        margin: 0 auto;
    }
    .best-offer .col-md-8 {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .best-offer .col-md-4 {
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .best-offer-right-content {
        text-align: center;
    }
    .best-offer-right-content {
        background-color:  rgb(52, 71, 71)d;
        padding: 30px 30px;
        min-height: 550px;
        height: auto;
    }
    .best-offer-right-content .pink-button {
        margin-bottom: 50px;
    }

}

html {
    font-family: sans-serif;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgb(34, 33, 33);
    background-size: 550px 500px;
}

.h1,
h1,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.text-center {
    text-align: center
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-md-1,
.col-md-10,
.col-md-6,
    {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-6,
    .col-md-9 {
        float: left
    }
    .col-md-10 {
        width: 83.33333333%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-1 {
        width: 8.33333333%
    }
    .col-md-offset-1 {
    content: " "
}

.row:after {
    clear: both
}



/* Here */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");


.weather-card {
  margin: 60px auto;
  height: 300px auto;
  width: 450px auto;
  background: #fff;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
}
.weather-card .top {
  position: relative;
  height: 570px;
  width: 100%;
  overflow: hidden;
  background: url("https://www.nationalparks.org/sites/default/files/styles/wide_1x/public/shutterstock_142351951.jpg?itok=y_xdbvtu") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.weather-card .top .wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
}
.weather-card .top .wrapper .mynav {
  height: 20px;
}
.weather-card .top .wrapper .mynav .lnr {
  color: #fff;
  font-size: 20px;
}
.weather-card .top .wrapper .mynav .lnr-chevron-left {
  display: inline-block;
  float: left;
}
.weather-card .top .wrapper .mynav .lnr-cog {
  display: inline-block;
        margin-left: 8.33333333%
    }
}

.row:after,
.row:before {
    display: tab;
    float: right;
}
.weather-card .top .wrapper .heading {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper .location {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper  {
  margin-top: 20px;
}
.weather-card .top .wrapper  {
  text-decoration: none;
  color: #fff;
}
.weather-card .top .wrapper   {
  font-size: 85px;
}
.weather-card .top .wrapper   {
  display: inline-block;
  font-size: 85px;
  font-weight: 600;
  color: #fff;
}
.weather-card .top .wrapper  .deg {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  vertical-align: top;
  margin-top: 10px;
}
.weather-card .top:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.trailname{
color: rgb(255, 217, 0);
padding-top: 6px;
padding-left:.3px;
}

.note-pad{
    height: 499px;
}

.dash-header{
    color:rgb(255, 217, 0);
    font-weight:bolder;
}

.parkname{
padding-left:3px;
color: rgb(151, 146, 117);
}

.image-card{
 width:489px;
 height:410px;
 background-color: rgb(31, 31, 30)
 
}

.image-header{
    color:rgb(204, 174, 4);
    font-weight:bolder;
}

.profile-icon{
    height: 30px;
    width: 30px;
}
.welcome{
float: left;
}

  @media (max-width: 991px) {
    .weather-card.top{
        width: 83.33333333%
    }
    .navbar.navbar-success.bg {
        width: 50%
    }
  }

/* Dashboard dailyTemp Card */

.dailyTemp{
    margin: 60px auto;
    width: 100px auto;
    height: 300px auto;
    box-shadow: 0 1px 38px rgba(212, 212, 15, 0.486), 0 5px 12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
  }
  .dailyTemp.top {
    position: relative;
    height: 570px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    text-align: center;
  }
  .dailyTemp .top .wrapper {
    padding: 30px;
    position: relative;
    z-index: 1;
    text-align:center;
  }
  
  .dailyTemp .top .wrapper .lnr-cog {
    display: inline-block;
    float: right;
   }
  .dailyTemp .top .wrapper .heading {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 500px;
    color: rgb(255, 253, 253);
  }
  .dailyTemp .top .wrapper .location {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 480px;
    color: rgb(153, 150, 138);
  }
  .dailyTemp .top .wrapper .temp {
    margin-top: 60px;
  }
  
  
  .dailyTemp .top .wrapper .temp-value {
    display: inline-block;
    font-size: 85px;
    font-weight: 600;
    color: white;
  }
  .dailyTemp .top .wrapper .deg {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    color: white;
    vertical-align: top;
    margin-top: 10px;
  }
  
  .dailyTemp .bottom {
    padding: 0 30px;
    background: rgb(105, 105, 75);
  }
  .dailyTemp .bottom .wrapper .forecast {
    overflow: hidden;
    margin: 0;
    font-size: 0;
    padding: 0;
    padding-top: 20px;
    max-height: 155px;
  }
  
  .dailyTemp .bottom .wrapper .forecast .go-up {
    text-align: center;
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .temp-title{
    font-size:130px;
    color: white;
  
  }
  .dailyTemp .bottom .wrapper .forecast li {
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: rgba(185, 182, 182, 0.863);
    line-height: 1em;
    margin-bottom: 30px;
    text-align: left;
  }
  .dailyTemp .bottom .wrapper .forecast li .date {
    display: inline-block;
  }
  .dailyTemp .bottom .wrapper .forecast li .condition {
    display: inline-block;
    vertical-align: middle;
    text-align:left;
    float: right;
    font-size: 25px;
  }
  .dailyTemp .bottom .wrapper .forecast li .condition .temp {
    display: inline-block;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 2px;
    text-align:left;
  }
  .dailyTemp .bottom .wrapper .forecast li .condition .temp .deg {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    margin-left: 3px;
    vertical-align: top;
    text-align: left;
  }
  .dailyTemp .bottom .wrapper .forecast li .condition .temp .temp-type {
    font-size: 20px;
    text-align:left;
  }
  .dailyTemp .bottom .wrapper .forecast li.active {
    color: rgba(56, 56, 56, 0.8);
    text-align:left;
  }
  .dailyTemp .top {
    background: url("https://i.pinimg.com/564x/f0/69/9e/f0699e9d9448188b96819111993f7875.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }


